* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: helvetica;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
}

.images{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 60px 5%;
    text-align: center;
}
.artist{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.cover img{
    width: 150px;
    border-radius: 8px;
    border: 2px solid #1a4c7a;
    box-shadow: 0px 0px 15px #1a4c7a;
}
.songs{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 25px;
}

.songs img{
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 0px 0px 15px #000000;
}